/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.particle_label, .particle_sublabel {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: black;
	-webkit-text-stroke: 0.25px white;
	text-shadow: 0px 0px 2px white;
	line-height: 0.33em;
}

.particle_sublabel {
	font-size: 14px;
	font-weight: 500;
}

#graph_title, #graph_key {
	padding: 8px;
	padding-top: 12px;
	background: rgb(33, 33, 33); /* for IE */
	background: rgba(33, 33, 33, 0.0933);
}

#graph_key {
    font-size: 14px;
    font-weight: 500;
}

.stamlab_label, .title_label, .title_sublabel {
	font-size: 22px;
	font-weight: 500;
	color: black;
	text-align: center;
	line-height: 0.33em;
}

.title_sublabel {
	font-size: 14px;
	font-weight: 400;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #cccccc !important;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 1;
}


/*
 * Main content
 */

.main {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.57);
}
.main .page-header {
    margin-top: 0;
}

canvas { 
    width: 100%; 
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
}

.notification {
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
    min-width: 350px;
    width: 80%;
}

.warning {
    font-size: medium;
    padding-top: 0px;
    padding-bottom: 10px;    
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-10px, -50%);
    text-align: center;
    background: rgb(33, 33, 33); /* for IE */
	background: rgba(33, 33, 33, 0.0933);
    display: none;
}

.key_title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 4px;
}

.key_element {
    font-size: 13px;
}
