/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.particle_label, .particle_sublabel {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: black;
	-webkit-text-stroke: 0.25px white;
	text-shadow: 0px 0px 2px white;
	line-height: 0.33em;
}

.particle_sublabel {
	font-size: 14px;
	font-weight: 500;
}

#graph_title, #graph_key {
	padding: 8px;
	padding-top: 12px;
	background: rgb(33, 33, 33); /* for IE */
	background: rgba(33, 33, 33, 0.0933);
}

#graph_key {
    font-size: 14px;
    font-weight: 500;
}

.stamlab_label, .title_label, .title_sublabel {
	font-size: 22px;
	font-weight: 500;
	color: black;
	text-align: center;
	line-height: 0.33em;
}

.title_sublabel {
	font-size: 14px;
	font-weight: 400;
}

textarea {
    font-size: 14px;
    font-weight: 400;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #cccccc !important;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 1;
}


/*
 * Main content
 */

.main {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.57);
}
.main .page-header {
    margin-top: 0;
}

canvas { 
    width: 100%; 
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
}

.notification {
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
    min-width: 350px;
    width: 80%;
}

.warning {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 30px 15px 35px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/warning.png');
    border-radius:5px;
    display: none;
}

/*
 * Modal dialog
 */

.v-center {
    height: 100vh;
    width: 100%;
    display: table;
    position: relative;
    text-align: center;
}

.v-center > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -10%;
}

.btn {
    font-size: 3vmin;
    padding: 0.75em 1.5em;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    text-decoration: none;
    display: inline;
    border-radius: 4px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.btn:hover {
    background-color: #ddd;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.btn-small {
    padding: .75em 1em;
    font-size: 0.8em;
}

.modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
@media (min-width: 32em) {

    .modal-box { width: 70%; }
}

.modal-box header,
.modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 5%;
    right: 2%;
    text-decoration: none;
    color: #bbb;
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}